In [14]:
import pandas as pd

In [15]:
path='Data/cleansed_data/clean_commentary.csv'

In [16]:
df = pd.read_csv(path)

In [17]:
df.head()

,Unnamed: 0,Match_id,Team,Over_num,Commentary,batsman,score,Commentary_new,Team_new,P2,P1,P1_FN,P1_LN,P2_FN,P2_LN,P1_FN_count,P1_LN_count,P2_FN_count,P2_LN_count
0,0,4281444,RCB 1st Inns,0.5,"Nehra to Mandeep, FOUR, first boundary for Man...",Nehra to Mandeep,FOUR,"{{BOWLER}} to {{BATSMAN}}, FOUR, first boundar...",RCB,Nehra,Mandeep,Mandeep,NaN,Nehra,NaN,7,NaN,5,NaN
1,1,4281444,RCB 1st Inns,1.0,"Nehra to Mandeep, FOUR, back-to-back boundarie...",Nehra to Mandeep,FOUR,"{{BOWLER}} to {{BATSMAN}}, FOUR, back-to-back ...",RCB,Nehra,Mandeep,Mandeep,NaN,Nehra,NaN,7,NaN,5,NaN
2,2,4281444,RCB 1st Inns,10.0,"Henriques to Kedar Jadhav, FOUR, hit straight ...",Henriques to Kedar Jadhav,FOUR,"{{BOWLER}} to {{BATSMAN}}, FOUR, hit straight ...",RCB,Henriques,Kedar Jadhav,Kedar,Jadhav,Henriques,NaN,5,6.0,9,NaN
3,3,4281444,RCB 1st Inns,10.4,"Nehra to Kedar Jadhav, FOUR, another full toss...",Nehra to Kedar Jadhav,FOUR,"{{BOWLER}} to {{BATSMAN}}, FOUR, another full ...",RCB,Nehra,Kedar Jadhav,Kedar,Jadhav,Nehra,NaN,5,6.0,5,NaN
4,4,4281444,RCB 1st Inns,10.5,"Nehra to Kedar Jadhav, FOUR, four more. Jadhav...",Nehra to Kedar Jadhav,FOUR,"{{BOWLER}} to {{BATSMAN}}, FOUR, four more. {{...",RCB,Nehra,Kedar Jadhav,Kedar,Jadhav,Nehra,NaN,5,6.0,5,NaN

In [18]:
groups = df.groupby('score')

for group_name, group_df in groups:
    print('Group Name:', group_name)
    print(group_df.head())
    #save each DataFrame to a file
    filename = f'output/eventwise_csv/{group_name}.csv'
    group_df.to_csv(filename, index=False)

Group Name: FIVE
      Unnamed: 0  Match_id           Team  Over_num  \
568          629   3000439  KXIP 1st Inns       4.1
3673        4099   9886489    MI 1st Inns       4.5
7153        8113   7815415   KKR 1st Inns       0.5

                                             Commentary           batsman  \
568   Narine to Vohra, 5 wides, an inswinger from Na...   Narine to Vohra
3673  Siraj to Lewis, 5 wides, poor from Siraj and n...    Siraj to Lewis
7153  Chahar to Narine, 5 runs, direct hit would hav...  Chahar to Narine

     score                                     Commentary_new Team_new  \
568   FIVE  {{BOWLER}} to {{BATSMAN}}, 5 wides, an inswing...     KXIP
3673  FIVE  {{BOWLER}} to {{BATSMAN}}, 5 wides, poor from ...       MI
7153  FIVE  {{BOWLER}} to {{BATSMAN}}, 5 runs, direct hit ...      KKR

          P2      P1   P1_FN P1_LN   P2_FN P2_LN  P1_FN_count  P1_LN_count  \
568   Narine   Vohra   Vohra   NaN  Narine   NaN            5          NaN
3673   Siraj   Lewis   Lewis   NaN   Siraj   NaN            5          NaN
7153  Chahar  Narine  Narine   NaN  Chahar   NaN            6          NaN

      P2_FN_count  P2_LN_count
568             6          NaN
3673            5          NaN
7153            6          NaN
Group Name: FOUR
   Unnamed: 0  Match_id          Team  Over_num  \
0           0   4281444  RCB 1st Inns       0.5
1           1   4281444  RCB 1st Inns       1.0
2           2   4281444  RCB 1st Inns      10.0
3           3   4281444  RCB 1st Inns      10.4
4           4   4281444  RCB 1st Inns      10.5

                                          Commentary  \
0  Nehra to Mandeep, FOUR, first boundary for Man...
1  Nehra to Mandeep, FOUR, back-to-back boundarie...
2  Henriques to Kedar Jadhav, FOUR, hit straight ...
3  Nehra to Kedar Jadhav, FOUR, another full toss...
4  Nehra to Kedar Jadhav, FOUR, four more. Jadhav...

                     batsman score  \
0           Nehra to Mandeep  FOUR
1           Nehra to Mandeep  FOUR
2  Henriques to Kedar Jadhav  FOUR
3      Nehra to Kedar Jadhav  FOUR
4      Nehra to Kedar Jadhav  FOUR

                                      Commentary_new Team_new         P2  \
0  {{BOWLER}} to {{BATSMAN}}, FOUR, first boundar...      RCB      Nehra
1  {{BOWLER}} to {{BATSMAN}}, FOUR, back-to-back ...      RCB      Nehra
2  {{BOWLER}} to {{BATSMAN}}, FOUR, hit straight ...      RCB  Henriques
3  {{BOWLER}} to {{BATSMAN}}, FOUR, another full ...      RCB      Nehra
4  {{BOWLER}} to {{BATSMAN}}, FOUR, four more. {{...      RCB      Nehra

             P1    P1_FN   P1_LN      P2_FN P2_LN  P1_FN_count  P1_LN_count  \
0       Mandeep  Mandeep     NaN      Nehra   NaN            7          NaN
1       Mandeep  Mandeep     NaN      Nehra   NaN            7          NaN
2  Kedar Jadhav    Kedar  Jadhav  Henriques   NaN            5          6.0
3  Kedar Jadhav    Kedar  Jadhav      Nehra   NaN            5          6.0
4  Kedar Jadhav    Kedar  Jadhav      Nehra   NaN            5          6.0

   P2_FN_count  P2_LN_count
0            5          NaN
1            5          NaN
2            9          NaN
3            5          NaN
4            5          NaN
Group Name: NO RUN
     Unnamed: 0  Match_id          Team  Over_num  \
76           78   7898444   MI 1st Inns      17.3
286         310   7200146   GL 1st Inns      13.3
290         314   7200146   GL 1st Inns      17.0
297         324   7200146   GL 1st Inns       5.0
308         335   7200146  SRH 1st Inns      13.3

                                            Commentary  \
76   Dinda to Pollard, no run, was that a drop? Nee...
286  Nehra to Dwayne Smith, no run, brilliant work ...
290  Bhuvneshwar to Karthik, no run, oh nearly.. A ...
297  Rashid Khan to Raina, no run, edged and droppe...
308  Nehra to Dwayne Smith, no run, brilliant work ...

                    batsman   score  \
76         Dinda to Pollard  NO RUN
286   Nehra to Dwayne Smith  NO RUN
290  Bhuvneshwar to Karthik  NO RUN
297    Rashid Khan to Raina  NO RUN
308   Nehra to Dwayne Smith  NO RUN

                                        Commentary_new Team_new           P2  \
76   {{BOWLER}} to {{BATSMAN}}, no run, was that a ...       MI        Dinda
286  {{BOWLER}} to {{BATSMAN}}, no run, brilliant w...       GL        Nehra
290  {{BOWLER}} to {{BATSMAN}}, no run, oh nearly.....       GL  Bhuvneshwar
297  {{BOWLER}} to {{BATSMAN}}, no run, edged and d...       GL  Rashid Khan
308  {{BOWLER}} to {{BATSMAN}}, no run, brilliant w...      SRH        Nehra

               P1    P1_FN  P1_LN        P2_FN P2_LN  P1_FN_count  \
76        Pollard  Pollard    NaN        Dinda   NaN            7
286  Dwayne Smith   Dwayne  Smith        Nehra   NaN            6
290       Karthik  Karthik    NaN  Bhuvneshwar   NaN            7
297         Raina    Raina    NaN       Rashid  Khan            5
308  Dwayne Smith   Dwayne  Smith        Nehra   NaN            6

     P1_LN_count  P2_FN_count  P2_LN_count
76           NaN            5          NaN
286          5.0            5          NaN
290          NaN           11          NaN
297          NaN            6          4.0
308          5.0            5          NaN
Group Name: ONE
    Unnamed: 0  Match_id          Team  Over_num  \
12          12   4281444  RCB 1st Inns      16.2
44          44   4281444  SRH 1st Inns      13.0
50          50   4281444  SRH 1st Inns      15.5
60          60   4281444  SRH 1st Inns       3.5
88          90   7898444   MI 1st Inns       3.0

                                           Commentary  \
12  Bhuvneshwar to Binny, 1 run, dropped! Naman Oj...
44  Aniket Choudhary to Yuvraj, 1 run, oh Aravind....
50  Chahal to Yuvraj, 1 run, is that a bird? Is th...
60  Chahal to Henriques, 1 run, a direct hit at th...
88  Dinda to Parthiv Patel, 1 run, dropped by Bhat...

                       batsman score  \
12        Bhuvneshwar to Binny   ONE
44  Aniket Choudhary to Yuvraj   ONE
50            Chahal to Yuvraj   ONE
60         Chahal to Henriques   ONE
88      Dinda to Parthiv Patel   ONE

                                       Commentary_new Team_new  \
12  {{BOWLER}} to {{BATSMAN}}, 1 run, dropped! Nam...      RCB
44  {{BOWLER}} to {{BATSMAN}}, 1 run, oh Aravind. ...      SRH
50  {{BOWLER}} to {{BATSMAN}}, 1 run, is that a bi...      SRH
60  {{BOWLER}} to {{BATSMAN}}, 1 run, a direct hit...      SRH
88  {{BOWLER}} to {{BATSMAN}}, 1 run, dropped by B...       MI

                  P2             P1      P1_FN  P1_LN        P2_FN      P2_LN  \
12       Bhuvneshwar          Binny      Binny    NaN  Bhuvneshwar        NaN
44  Aniket Choudhary         Yuvraj     Yuvraj    NaN       Aniket  Choudhary
50            Chahal         Yuvraj     Yuvraj    NaN       Chahal        NaN
60            Chahal      Henriques  Henriques    NaN       Chahal        NaN
88             Dinda  Parthiv Patel    Parthiv  Patel        Dinda        NaN

    P1_FN_count  P1_LN_count  P2_FN_count  P2_LN_count
12            5          NaN           11          NaN
44            6          NaN            6          9.0
50            6          NaN            6          NaN
60            9          NaN            6          NaN
88            7          5.0            5          NaN
Group Name: OUT
    Unnamed: 0  Match_id          Team  Over_num  \
5            5   4281444  RCB 1st Inns      11.4
7            7   4281444  RCB 1st Inns      12.5
8            8   4281444  RCB 1st Inns      13.4
13          13   4281444  RCB 1st Inns      16.5
14          14   4281444  RCB 1st Inns      17.3

                                           Commentary  \
5   Henriques to Kedar Jadhav, out Kedar Jadhav Ru...
7   Rashid Khan to Head, out Caught by Yuvraj!! Ra...
8   Bipul Sharma to Sachin Baby, out Caught by Hen...
13  Bhuvneshwar to Binny, out Caught by Yuvraj!! G...
14  Nehra to Watson, out Caught by Henriques!! Tha...

                        batsman score  \
5     Henriques to Kedar Jadhav   OUT
7           Rashid Khan to Head   OUT
8   Bipul Sharma to Sachin Baby   OUT
13         Bhuvneshwar to Binny   OUT
14              Nehra to Watson   OUT

                                       Commentary_new Team_new            P2  \
5   {{BOWLER}} to {{BATSMAN}}, out {{BATSMAN}} Run...      RCB     Henriques
7   {{BOWLER}} to {{BATSMAN}}, out Caught by Yuvra...      RCB   Rashid Khan
8   {{BOWLER}} to {{BATSMAN}}, out Caught by Henri...      RCB  Bipul Sharma
13  {{BOWLER}} to {{BATSMAN}}, out Caught by Yuvra...      RCB   Bhuvneshwar
14  {{BOWLER}} to {{BATSMAN}}, out Caught by Henri...      RCB         Nehra

              P1   P1_FN   P1_LN        P2_FN   P2_LN  P1_FN_count  \
5   Kedar Jadhav   Kedar  Jadhav    Henriques     NaN            5
7           Head    Head     NaN       Rashid    Khan            4
8    Sachin Baby  Sachin    Baby        Bipul  Sharma            6
13         Binny   Binny     NaN  Bhuvneshwar     NaN            5
14        Watson  Watson     NaN        Nehra     NaN            6

    P1_LN_count  P2_FN_count  P2_LN_count
5           6.0            9          NaN
7           NaN            6          4.0
8           4.0            5          6.0
13          NaN           11          NaN
14          NaN            5          NaN
Group Name: SIX
    Unnamed: 0  Match_id          Team  Over_num  \
9            9   4281444  RCB 1st Inns      15.0
10          10   4281444  RCB 1st Inns      15.2
16          16   4281444  RCB 1st Inns      18.4
18          18   4281444  RCB 1st Inns      19.3
22          22   4281444  RCB 1st Inns       3.0

                                           Commentary  \
9   Rashid Khan to Watson, SIX, Rashid finishes wi...
10  Cutting to Binny, SIX, slower ball again but t...
16  Bhuvneshwar to Tymal Mills, SIX, full and wide...
18  Cutting to Aniket Choudhary, SIX, first ball C...
22  Nehra to Gayle, SIX, that ball hung in the nig...

                        batsman score  \
9         Rashid Khan to Watson   SIX
10             Cutting to Binny   SIX
16   Bhuvneshwar to Tymal Mills   SIX
18  Cutting to Aniket Choudhary   SIX
22               Nehra to Gayle   SIX

                                       Commentary_new Team_new           P2  \
9   {{BOWLER}} to {{BATSMAN}}, SIX, {{BOWLER}} fin...      RCB  Rashid Khan
10  {{BOWLER}} to {{BATSMAN}}, SIX, slower ball ag...      RCB      Cutting
16  {{BOWLER}} to {{BATSMAN}}, SIX, full and wide,...      RCB  Bhuvneshwar
18  {{BOWLER}} to {{BATSMAN}}, SIX, first ball {{B...      RCB      Cutting
22  {{BOWLER}} to {{BATSMAN}}, SIX, that ball hung...      RCB        Nehra

                  P1   P1_FN      P1_LN        P2_FN P2_LN  P1_FN_count  \
9             Watson  Watson        NaN       Rashid  Khan            6
10             Binny   Binny        NaN      Cutting   NaN            5
16       Tymal Mills   Tymal      Mills  Bhuvneshwar   NaN            5
18  Aniket Choudhary  Aniket  Choudhary      Cutting   NaN            6
22             Gayle   Gayle        NaN        Nehra   NaN            5

    P1_LN_count  P2_FN_count  P2_LN_count
9           NaN            6          4.0
10          NaN            7          NaN
16          5.0           11          NaN
18          9.0            7          NaN
22          NaN            5          NaN
Group Name: THREE
      Unnamed: 0  Match_id          Team  Over_num  \
1440        1606   7614896  RPS 1st Inns       6.2
2231        2469   9316064   MI 1st Inns      18.2
2537        2812   4550802   MI 1st Inns      11.0
4998        5616   9414123   RR 1st Inns      15.5
5386        6049   9236293   MI 1st Inns       2.4

                                             Commentary  \
1440  Harbhajan to Tripathi, 3 runs, Tripathi uses t...
2231  Rabada to Hardik Pandya, 3 runs, dropped! Firs...
2537  Ishant to Rohit, 3 runs, Comedy. Chaos. Everyt...
4998  Ashwin to Buttler, 3 runs, in the air and Butt...
5386  Jofra Archer to Lewis, 3 runs, slogged high. W...

                      batsman  score  \
1440    Harbhajan to Tripathi  THREE
2231  Rabada to Hardik Pandya  THREE
2537          Ishant to Rohit  THREE
4998        Ashwin to Buttler  THREE
5386    Jofra Archer to Lewis  THREE

                                         Commentary_new Team_new  \
1440  {{BOWLER}} to {{BATSMAN}}, 3 runs, {{BATSMAN}}...      RPS
2231  {{BOWLER}} to {{BATSMAN}}, 3 runs, dropped! Fi...       MI
2537  {{BOWLER}} to {{BATSMAN}}, 3 runs, Comedy. Cha...       MI
4998  {{BOWLER}} to {{BATSMAN}}, 3 runs, in the air ...       RR
5386  {{BOWLER}} to {{BATSMAN}}, 3 runs, slogged hig...       MI

                P2             P1     P1_FN   P1_LN      P2_FN   P2_LN  \
1440     Harbhajan       Tripathi  Tripathi     NaN  Harbhajan     NaN
2231        Rabada  Hardik Pandya    Hardik  Pandya     Rabada     NaN
2537        Ishant          Rohit     Rohit     NaN     Ishant     NaN
4998        Ashwin        Buttler   Buttler     NaN     Ashwin     NaN
5386  Jofra Archer          Lewis     Lewis     NaN      Jofra  Archer

      P1_FN_count  P1_LN_count  P2_FN_count  P2_LN_count
1440            8          NaN            9          NaN
2231            6          6.0            6          NaN
2537            5          NaN            6          NaN
4998            7          NaN            6          NaN
5386            5          NaN            5          6.0
Group Name: TWO
     Unnamed: 0  Match_id          Team  Over_num  \
111         113   7898444  RPS 1st Inns      14.3
135         137   2373690   GL 1st Inns      13.3
137         139   2373690   GL 1st Inns      15.4
159         161   2373690   GL 1st Inns       5.5
185         197   2373690  KKR 1st Inns       7.4

                                            Commentary  \
111  Southee to Smith, 2 runs, fifty for Smith. Thi...
135  Chawla to Raina, 2 runs, in no man's land. The...
137  Kuldeep Yadav to Raina, 2 runs, comedy of erro...
159  Woakes to Raina, 2 runs, that will go down as ...
185  Shadab Jakati to Gambhir, 2 runs, short ball o...

                      batsman score  \
111          Southee to Smith   TWO
135           Chawla to Raina   TWO
137    Kuldeep Yadav to Raina   TWO
159           Woakes to Raina   TWO
185  Shadab Jakati to Gambhir   TWO

                                        Commentary_new Team_new  \
111  {{BOWLER}} to {{BATSMAN}}, 2 runs, fifty for {...      RPS
135  {{BOWLER}} to {{BATSMAN}}, 2 runs, in no man's...       GL
137  {{BOWLER}} to {{BATSMAN}}, 2 runs, comedy of e...       GL
159  {{BOWLER}} to {{BATSMAN}}, 2 runs, that will g...       GL
185  {{BOWLER}} to {{BATSMAN}}, 2 runs, short ball ...      KKR

                P2       P1    P1_FN P1_LN    P2_FN   P2_LN  P1_FN_count  \
111        Southee    Smith    Smith   NaN  Southee     NaN            5
135         Chawla    Raina    Raina   NaN   Chawla     NaN            5
137  Kuldeep Yadav    Raina    Raina   NaN  Kuldeep   Yadav            5
159         Woakes    Raina    Raina   NaN   Woakes     NaN            5
185  Shadab Jakati  Gambhir  Gambhir   NaN   Shadab  Jakati            7

     P1_LN_count  P2_FN_count  P2_LN_count
111          NaN            7          NaN
135          NaN            6          NaN
137          NaN            7          5.0
159          NaN            6          NaN
185          NaN            6          6.0
Group Name: WIDE
      Unnamed: 0  Match_id           Team  Over_num  \
87            89   7898444    MI 1st Inns      20.0
1728        1918   1229540    GL 1st Inns       8.2
2414        2679   7153825  KXIP 1st Inns      18.0
3589        3994   2619288    DC 1st Inns       1.0
3708        4135   9886489   RCB 1st Inns       9.4

                                             Commentary  \
87    Dinda to Hardik Pandya, wide, out Southee Run ...
1728  Krunal Pandya to Karthik, wide, out Stumped!! ...
2414  Kuldeep Yadav to Saha, wide, out Stumped!! The...
3589  Chawla to Roy, wide, out Stumped!! Smart stump...
3708  Krunal Pandya to Mandeep, wide, out Stumped!! ...

                       batsman score  \
87      Dinda to Hardik Pandya  WIDE
1728  Krunal Pandya to Karthik  WIDE
2414     Kuldeep Yadav to Saha  WIDE
3589             Chawla to Roy  WIDE
3708  Krunal Pandya to Mandeep  WIDE

                                         Commentary_new Team_new  \
87    {{BOWLER}} to {{BATSMAN}}, wide, out Southee R...       MI
1728  {{BOWLER}} to {{BATSMAN}}, wide, out Stumped!!...       GL
2414  {{BOWLER}} to {{BATSMAN}}, wide, out Stumped!!...     KXIP
3589  {{BOWLER}} to {{BATSMAN}}, wide, out Stumped!!...       DC
3708  {{BOWLER}} to {{BATSMAN}}, wide, out Stumped!!...      RCB

                 P2             P1    P1_FN   P1_LN    P2_FN   P2_LN  \
87            Dinda  Hardik Pandya   Hardik  Pandya    Dinda     NaN
1728  Krunal Pandya        Karthik  Karthik     NaN   Krunal  Pandya
2414  Kuldeep Yadav           Saha     Saha     NaN  Kuldeep   Yadav
3589         Chawla            Roy      Roy     NaN   Chawla     NaN
3708  Krunal Pandya        Mandeep  Mandeep     NaN   Krunal  Pandya

      P1_FN_count  P1_LN_count  P2_FN_count  P2_LN_count
87              6          6.0            5          NaN
1728            7          NaN            6          6.0
2414            4          NaN            7          5.0
3589            3          NaN            6          NaN
3708            7          NaN            6          6.0